(
    lang: EN,
    mouse_inverted: false,
    sfx_volume: 0.5,
    level_points: (
        (None, None, None, None, None, None),
        (None, None, None, None, None, None),
        (None, None, None, None, None, None),
        (None, None, None, None, None, None),
        (None, None, None, None, None, None),
        (None, None, None, None, None, None),
    ),
)